In [1]:
import datapackage
import pandas as pd

In [2]:
data_url = 'https://datahub.io/machine-learning/hepatitis/datapackage.json'

In [3]:
# to load Data Package into storage
package = datapackage.Package(data_url)

In [4]:
# to load only tabular data
resources = package.resources
for resource in resources:
    if resource.tabular:
        data = pd.read_csv(resource.descriptor['path'])
        print (data)

     age     sex steroid  antivirals fatigue malaise anorexia liver_big  \
0     30    male   False       False   False   False    False     False
1     50  female   False       False    True   False    False     False
2     78  female    True       False    True   False    False      True
3     31  female     NaN        True   False   False    False      True
4     34  female    True       False   False   False    False      True
..   ...     ...     ...         ...     ...     ...      ...       ...
150   46  female    True       False    True    True     True      True
151   44  female    True       False    True   False    False      True
152   61  female   False       False    True    True    False     False
153   53    male   False       False    True   False    False      True
154   43  female    True       False    True   False    False      True

    liver_firm spleen_palpable spiders ascites varices  bilirubin  \
0        False           False   False   False   False        1.0
1        False           False   False   False   False        0.9
2        False           False   False   False   False        0.7
3        False           False   False   False   False        0.7
4        False           False   False   False   False        1.0
..         ...             ...     ...     ...     ...        ...
150      False           False    True    True    True        7.6
151       True           False   False   False   False        0.9
152       True           False    True   False   False        0.8
153      False            True    True   False    True        1.5
154      False            True    True    True   False        1.2

     alk_phosphate   sgot  albumin  protime  histology class
0             85.0   18.0      4.0      NaN      False  live
1            135.0   42.0      3.5      NaN      False  live
2             96.0   32.0      4.0      NaN      False  live
3             46.0   52.0      4.0     80.0      False  live
4              NaN  200.0      4.0      NaN      False  live
..             ...    ...      ...      ...        ...   ...
150            NaN  242.0      3.3     50.0       True   die
151          126.0  142.0      4.3      NaN       True  live
152           75.0   20.0      4.1      NaN       True  live
153           81.0   19.0      4.1     48.0       True  live
154          100.0   19.0      3.1     42.0       True   die

[155 rows x 20 columns]
Empty DataFrame
Columns: [[{"age": 30,  "albumin": 4.0,  "alk_phosphate": 85,  "anorexia": false,  "antivirals": false,  "ascites": false,  "bilirubin": 1.0,  "class": "live",  "fatigue": false,  "histology": false,  "liver_big": false,  "liver_firm": false,  "malaise": false,  "protime": null,  "sex": "male",  "sgot": 18,  "spiders": false,  "spleen_palpable": false,  "steroid": false,  "varices": false}, {"age": 50,  "albumin": 3.5,  "alk_phosphate": 135,  "anorexia": false.1,  "antivirals": false.1,  "ascites": false.1,  "bilirubin": 0.9,  "class": "live".1,  "fatigue": true,  "histology": false.1,  "liver_big": false.1,  "liver_firm": false.1,  "malaise": false.1,  "protime": null.1,  "sex": "female",  "sgot": 42,  "spiders": false.1,  "spleen_palpable": false.1,  "steroid": false.1,  "varices": false}.1, {"age": 78,  "albumin": 4.0.1,  "alk_phosphate": 96,  "anorexia": false.2,  "antivirals": false.2,  "ascites": false.2,  "bilirubin": 0.7,  "class": "live".2,  "fatigue": true.1,  "histology": false.2,  "liver_big": true,  "liver_firm": false.2,  "malaise": false.2,  "protime": null.2,  "sex": "female".1,  "sgot": 32,  "spiders": false.2,  "spleen_palpable": false.2,  "steroid": true,  "varices": false}.2, {"age": 31,  "albumin": 4.0.2,  "alk_phosphate": 46,  "anorexia": false.3,  "antivirals": true,  "ascites": false.3,  "bilirubin": 0.7.1,  "class": "live".3,  "fatigue": false.1,  "histology": false.3,  "liver_big": true.1,  "liver_firm": false.3,  "malaise": false.3,  "protime": 80,  "sex": "female".2,  "sgot": 52,  "spiders": false.3,  "spleen_palpable": false.3,  "steroid": null,  "varices": false}.3, {"age": 34,  "albumin": 4.0.3,  "alk_phosphate": null,  "anorexia": false.4,  "antivirals": false.3,  "ascites": false.4,  "bilirubin": 1.0.1,  "class": "live".4,  "fatigue": false.2,  "histology": false.4,  "liver_big": true.2,  "liver_firm": false.4,  "malaise": false.4,  "protime": null.3,  "sex": "female".3,  "sgot": 200,  "spiders": false.4,  "spleen_palpable": false.4,  "steroid": true.1,  "varices": false}.4, ...]
Index: []

[0 rows x 3100 columns]
     age     sex steroid  antivirals fatigue malaise anorexia liver_big  \
0     30    male   False       False   False   False    False     False
1     50  female   False       False    True   False    False     False
2     78  female    True       False    True   False    False      True
3     31  female     NaN        True   False   False    False      True
4     34  female    True       False   False   False    False      True
..   ...     ...     ...         ...     ...     ...      ...       ...
150   46  female    True       False    True    True     True      True
151   44  female    True       False    True   False    False      True
152   61  female   False       False    True    True    False     False
153   53    male   False       False    True   False    False      True
154   43  female    True       False    True   False    False      True

    liver_firm spleen_palpable spiders ascites varices  bilirubin  \
0        False           False   False   False   False        1.0
1        False           False   False   False   False        0.9
2        False           False   False   False   False        0.7
3        False           False   False   False   False        0.7
4        False           False   False   False   False        1.0
..         ...             ...     ...     ...     ...        ...
150      False           False    True    True    True        7.6
151       True           False   False   False   False        0.9
152       True           False    True   False   False        0.8
153      False            True    True   False    True        1.5
154      False            True    True    True   False        1.2

     alk_phosphate   sgot  albumin  protime  histology class
0             85.0   18.0      4.0      NaN      False  live
1            135.0   42.0      3.5      NaN      False  live
2             96.0   32.0      4.0      NaN      False  live
3             46.0   52.0      4.0     80.0      False  live
4              NaN  200.0      4.0      NaN      False  live
..             ...    ...      ...      ...        ...   ...
150            NaN  242.0      3.3     50.0       True   die
151          126.0  142.0      4.3      NaN       True  live
152           75.0   20.0      4.1      NaN       True  live
153           81.0   19.0      4.1     48.0       True  live
154          100.0   19.0      3.1     42.0       True   die

[155 rows x 20 columns]

In [6]:
import pandas as pd
df = pd.read_csv('D:/BIA/Data_mining_and_machine_learning/dataset_55_hepatitis.csv')
df.head(10)

,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER_BIG,LIVER_FIRM,SPLEEN_PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK_PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY,Class
0,30,male,no,no,no,no,no,no,no,no,no,no,no,1,85,18,4,?,no,LIVE
1,50,female,no,no,yes,no,no,no,no,no,no,no,no,0.9,135,42,3.5,?,no,LIVE
2,78,female,yes,no,yes,no,no,yes,no,no,no,no,no,0.7,96,32,4,?,no,LIVE
3,31,female,?,yes,no,no,no,yes,no,no,no,no,no,0.7,46,52,4,80,no,LIVE
4,34,female,yes,no,no,no,no,yes,no,no,no,no,no,1,?,200,4,?,no,LIVE
5,34,female,yes,no,no,no,no,yes,no,no,no,no,no,0.9,95,28,4,75,no,LIVE
6,51,female,no,no,yes,no,yes,yes,no,yes,yes,no,no,?,?,?,?,?,no,DIE
7,23,female,yes,no,no,no,no,yes,no,no,no,no,no,1,?,?,?,?,no,LIVE
8,39,female,yes,no,yes,no,no,yes,yes,no,no,no,no,0.7,?,48,4.4,?,no,LIVE
9,30,female,yes,no,no,no,no,yes,no,no,no,no,no,1,?,120,3.9,?,no,LIVE

In [9]:
data.isna().sum()

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             1
malaise             1
anorexia            1
liver_big          10
liver_firm         11
spleen_palpable     5
spiders             5
ascites             5
varices             5
bilirubin           6
alk_phosphate      29
sgot                4
albumin            16
protime            67
histology           0
class               0
dtype: int64

In [10]:
data.isna().sum()/len(data)*100

age                 0.000000
sex                 0.000000
steroid             0.645161
antivirals          0.000000
fatigue             0.645161
malaise             0.645161
anorexia            0.645161
liver_big           6.451613
liver_firm          7.096774
spleen_palpable     3.225806
spiders             3.225806
ascites             3.225806
varices             3.225806
bilirubin           3.870968
alk_phosphate      18.709677
sgot                2.580645
albumin            10.322581
protime            43.225806
histology           0.000000
class               0.000000
dtype: float64

In [13]:
data.dropna(axis=1)

     age     sex  antivirals  histology class
0     30    male       False      False  live
1     50  female       False      False  live
2     78  female       False      False  live
3     31  female        True      False  live
4     34  female       False      False  live
..   ...     ...         ...        ...   ...
150   46  female       False       True   die
151   44  female       False       True  live
152   61  female       False       True  live
153   53    male       False       True  live
154   43  female       False       True   die

[155 rows x 5 columns]

In [14]:
data.dtypes

age                  int64
sex                 object
steroid             object
antivirals            bool
fatigue             object
malaise             object
anorexia            object
liver_big           object
liver_firm          object
spleen_palpable     object
spiders             object
ascites             object
varices             object
bilirubin          float64
alk_phosphate      float64
sgot               float64
albumin            float64
protime            float64
histology             bool
class               object
dtype: object

In [19]:
import numpy as np
numeric = data.select_dtypes(include=np.number)
numeric_columns = numeric.columns
data.head(10)

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live
5,34,female,True,False,False,False,False,True,False,False,False,False,False,0.9,95.0,28.0,4.0,75.0,False,live
6,51,female,False,False,True,False,True,True,False,True,True,False,False,NaN,NaN,NaN,NaN,NaN,False,die
7,23,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,NaN,NaN,NaN,False,live
8,39,female,True,False,True,False,False,True,True,False,False,False,False,0.7,NaN,48.0,4.4,NaN,False,live
9,30,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,120.0,3.9,NaN,False,live

In [21]:
data[numeric_columns] = data[numeric_columns].interpolate(method ='linear', limit_direction ='forward')

In [22]:
data.head(10)

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.00,85.0,18.000000,4.000000,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.90,135.0,42.000000,3.500000,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.70,96.0,32.000000,4.000000,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.70,46.0,52.000000,4.000000,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.00,70.5,200.000000,4.000000,77.5,False,live
5,34,female,True,False,False,False,False,True,False,False,False,False,False,0.90,95.0,28.000000,4.000000,75.0,False,live
6,51,female,False,False,True,False,True,True,False,True,True,False,False,0.95,91.6,34.666667,4.133333,77.0,False,die
7,23,female,True,False,False,False,False,True,False,False,False,False,False,1.00,88.2,41.333333,4.266667,79.0,False,live
8,39,female,True,False,True,False,False,True,True,False,False,False,False,0.70,84.8,48.000000,4.400000,81.0,False,live
9,30,female,True,False,False,False,False,True,False,False,False,False,False,1.00,81.4,120.000000,3.900000,83.0,False,live